<form name="myForm">
	<table class="table table-condensed">
 		<tr>
 			<td>WIEK</td>
 			<td>DUZY</td>
 			<td><input type="checkbox" ng-click="loop(catage)" ng-model="catage[0]" ng-true-value='"duzy"'></td>
 			<td>ŚREDNI</td>
 			<td><input type="checkbox" ng-click="loop(catage)" ng-model="catage[1]" ng-true-value='"sredni"'></td>
 			<td>MALY</td>
 			<td><input type="checkbox" ng-click="loop(catage)"  ng-model="catage[2]" ng-true-value='"maly"'></td>
 			
 		</tr>
 		<tr>
 			<td>WYGLAD</td>
 			<td>SLICZNY</td>
 			<td><input type="checkbox" ng-click="loop(catage)" ng-model="catage[3]" ng-true-value='"sliczny"'></td>
 			<td>BRZYDKI</td>
 			<td><input type="checkbox" ng-click="loop(catage)"  ng-model="catage[4]" ng-true-value='"brzydki"'></td>
 			<td></td>
 		</tr>
 		<tr>
 			<td>TYP</td>
 			<td>DACHOWIEC</td>
 			<td><input type="checkbox" ng-click="loop(catage)" ng-model="catage[5]" ng-true-value='"dachowiec"'></td>
 			<td>RUDZILEC</td>
 			<td><input type="checkbox" ng-click="loop(catage)"  ng-model="catage[6]" ng-true-value='"rudzilec"'></td>
 			<td>KRUWKOWY</td>
 			<td><input type="checkbox" ng-click="loop(catage)"  ng-model="catage[7]" ng-true-value='"Kruwkowy"'></td>
 		</tr>
	</table>
 </form>