<input type="number" ng-model="betwenstart">
<input type="number" ng-model="betwenend">
<form name="myForm">
  <label>Duzy :
    <input type="checkbox" ng-click="loop(catage)" ng-model="catage[0]" ng-true-value='"duzy"'>
  </label><br/>
  <label>Mały:
    <input type="checkbox" ng-click="loop(catage)"  ng-model="catage[1]" ng-true-value='"maly"'>
   </label><br/>
   <label>sliczny :
    <input type="checkbox" ng-click="loop(catage)" ng-model="catage[2]" ng-true-value='"sliczny"'>
  </label><br/>
  <label>brzydki:
    <input type="checkbox" ng-click="loop(catage)"  ng-model="catage[3]" ng-true-value='"brzydki"'>
   </label><br/>
    <label>dachowiec :
    <input type="checkbox" ng-click="loop(catage)" ng-model="catage[4]" ng-true-value='"dachowiec"'>
  </label><br/>
  <label>rudzilec:
    <input type="checkbox" ng-click="loop(catage)"  ng-model="catage[5]" ng-true-value='"rudzilec"'>
   </label><br/>
 </form>